<launch>
  <!-- configuration -->
  <arg name="rviz" default="false"/>
  <arg name="field_file_path" 
       default="/home/patrick/mapping_2.0_ws/data/darryl/upath/darryl_farm-2025-01-29_16.33.38"/>

  <!-- upath generator -->
  <node pkg="fields2cover_ros" type="visualizer_node" name="visualizer" output="screen">
    <param name="field_file_path" value="$(arg field_file_path)"/>
    <param name="interp_step" type="double" value="0.05"/>
  </node>

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fields2cover_ros)/launch/demo.rviz"/>
  </group>
</launch>
